<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Denver Liquor License Visualization - Just wait until the Final Project.</title>
        <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

          <!-- //How can you change this href to make it work: --> 
    <link rel="stylesheet"
          href="/static/css/style.css">
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
    
                <div class="navbar-header">
                    <button type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button> 
                     <a class="navbar-brand"
                       href="/">HomePage</a> 
                    <canvas id="canvas-image-blending"></canvas>
                </div>
    
    
                <div class="collapse navbar-collapse"
                     id="bs-example-navbar-collapse-1">
    
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">Views <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                            <li><a href="map">Cluster Map</a></li>
                            <li><a href="pie">Pie Chart</a></li>
                            <li><a href="chart">Bar Chart</a></li>
                          </ul>
                        </li>
                        </ul>
                </div>
            </div>
        </nav>
        <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <h1>Interactive Maps Plotting Liquor License Types in Denver County</h1>
                        <img src="static/Resources/denver_county_thumbnail.png"
                             width="400"
                             height="350">
                        <p>The Final 3 Group (#RIP Final 4 Group) dove back into the newly minted liquor license data following the legislative approval of bill 17-1370
                            on Jan. 1, 2019, which legalizes sales of full strength beer at retail stores in the state of CO. We have created three views to highlight
                            this data, broken down by separate neighborhoods within Denver County. The cluster map is an interactive map that can be filtered
                            by license type. The bar chart provides site users with a count of different liquor license types. The pie chart uses a javascript
                            library called granim.js to highlight the visual well-being of the site.  </p>
                        </div>
                            <div class="col-md-4 sidebar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1>Visuals</h1>
                                    </div>
                                </div>
                                <div class="row">
        
                                    <div class="col-md-3 text-center">
                                        <a href="map"><h5>Cluster Map</h5><img
                                                src="/static/Resources/cluster.PNG" 
                                                 width="200px"
                                                 height="150px"></a>
                                    </div>
                                    <div class="col-md-3"></div>
        
                                    <div class="col-md-3">
                                        <a href="pie"><h5>Pie Chart</h5><img
                                                 src="/static/Resources/pie_chart.png" 
                                                 width="200px"
                                                 height="150px"></a>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row">
        
                                    <div class="col-md-3">
                                        <a href="chart"><h5>Bar Chart</h5><img
                                                 src="/static/Resources/bar_chart.png"
                                                 width="200px"
                                                 height="150px"></a>
                                    </div>
                                    <div class="col-md-3"></div>
        
                                
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/granim/2.0.0/granim.js"></script>
                    <script src="{{ url_for('static', filename='js/granim.js') }}"></script>
                    
        </body>
        
        </html>
